In [2]:
import pandas as pd
import numpy as np
import os
import sqlite3

In [3]:
j1 = pd.read_csv("./jokesdata/cleanjokes.csv")

In [4]:
j1.head()

   Unnamed: 0                                               joke
0           0            A steak pun is a rare medium well done.
1           1  They say that breakfast is the most important ...
2           2  What do you get if you cross an angry sheep wi...
3           3  An apple a day keeps the doctor away. At least...
4           4  What sounds like a sneeze and is made of leath...

In [5]:
j1 = j1['joke'].copy()

In [6]:
j1.head()

0              A steak pun is a rare medium well done.
1    They say that breakfast is the most important ...
2    What do you get if you cross an angry sheep wi...
3    An apple a day keeps the doctor away. At least...
4    What sounds like a sneeze and is made of leath...
Name: joke, dtype: object

In [7]:
import sqlite3
import pandas as pd

# Assuming J1 is your existing DataFrame
# Create SQLite connection
conn = sqlite3.connect('jokes.db')

# Write the DataFrame to SQLite
j1.to_sql('jokes', conn, if_exists='replace', index=False)

# Verify the data
query = pd.read_sql('SELECT * FROM jokes', conn)
print("First few rows of the database:")
print(query.head())

# Close the connection
conn.close()

First few rows of the database:
                                                joke
0            A steak pun is a rare medium well done.
1  They say that breakfast is the most important ...
2  What do you get if you cross an angry sheep wi...
3  An apple a day keeps the doctor away. At least...
4  What sounds like a sneeze and is made of leath...